.m-padded-tb-mini {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*display*/
.m-inline-block {
    display: inline-block !important;
}

/*-----container*/
.m-container-mini{
    max-width: 100em !important;
    margin: auto !important;
}
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-tiny {
    max-width: 65em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}


/*-----margin------*/
.m-margin-top-null {
    margin-top:0em !important;
}
.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-top-max {
    margin-top: 35px !important;
}

.m-margin-top-maxx {
    margin-top: 5em !important;
}
.m-margin-top-maxxx {
    margin-top: 19em !important;
}

.m-margin-bottom {
    margin-bottom: auto  !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-{
    margin-top:-4em !important;
}

.m-margin--{
    margin-top:-89px !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

.m-margin-left-mini{
    margin-left:4em !important;
}
.m-margin-left-big{
    margin-left:8em !important;
}
/*-----color-----*/
.m-black {
    color: #333 !important;
}
.m-teal {
    color: #00B5AD !important;
}

/*background*/
body {
    background: url("../images/bg.png");
}