<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 引入 Semantic UI JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">小澈的Blog</h1>
            <a href="#" th:href="@{/}" th:classappend="${n==1} ? 'active'" class="item"><i class="mini home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" th:classappend="${n==2} ? 'active'" class="item"><i class="mini clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/archive}" th:classappend="${n==3} ? 'active'" class="item"><i class="mini clone icon"></i>归档</a>
            <a href="#" th:href="@{/about}" th:classappend="${n==4} ? 'active'" class="item"><i class="mini image icon"></i>关于我</a>
            <div class="right item">
                <form action="#" th:action="@{/search}" name="search" target="_blank">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="query" placeholder="search..." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>


            </div>
        </div>
    </div>

</nav>
<!--bottom-->
<footer th:fragment="footer" class="ui inverted attached segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded" alt="" style="width:110px">
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header">最新博客</h3>
                <div id="newblog-container">
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}">用户故事（User Story）</a>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header">联系我</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:sunyifengyyds13@gmail.com</a>
                    <a href="#" class="item">QQ:2567673570</a>
                </div>
            </div>
            <div class="six wide column">
                <h3 class="ui inverted header">小澈</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">你知道的，我爱写代码，代码就是我的生命，代码就是我人生的意义，哈哈哈哈哈......滚！</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p>Copyright © 2024 小澈 All Rights Reserved</p>
    </div>





</footer>
<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 引入 Semantic UI JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
        $('#newblog-container').load('[[@{/footer/newblog}]]');
    </script>

</th:block>




</body>

</html>