<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 引入 Semantic UI JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->

<nav  th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">小澈的Blog</h1>
            <a href="#" class="item"><i class="mini home icon"></i>首页</a>
            <a href="#" class="item"><i class="mini clone outline icon"></i>分类</a>
            <a href="#" class="item"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="item"><i class="mini image icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search...">
                    <i class="search link icon"></i>
                </div>

            </div>
        </div>
    </div>

</nav>

<!--中间-->
<div class="m-container m-padded-tb-large">
    <div class="ui container">

        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="/images/photo.jpg" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">孙逸枫，一个JAVA农；一个终身学习者，誓将学习无限循环. 希望结识可以共同成长的小伙伴.</p>
                    <p class="m-text">热爱编程，喜欢折腾，正在探索高效快速学习编程技术的方法...</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">思考</div>
                    <div class="ui orange basic left pointing label">运动</div>
                    <div class="ui orange basic left pointing label">游戏</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">MangoDB</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui github circular icon button" data-content="Lolicon-9985" data-position="bottom center"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="2567673570" data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>

    </div>
</div>
<br>



<!--bottom-->
<footer th:replace="_fragments :: footer"  class="ui inverted attached segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/wechat.jpg" class="ui rounded" alt="" style="width:110px">
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header">最新博客</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header">联系我</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:sunyifengyyds13@gmail.com</a>
                    <a href="#" class="item">QQ:2567673570</a>
                </div>
            </div>
            <div class="six wide column">
                <h3 class="ui inverted header">小澈</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">你知道的，我爱写代码，代码就是我的生命，代码就是我人生的意义，哈哈哈哈哈......滚！</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p>Copyright © 2024 小澈 All Rights Reserved</p>
    </div>



</footer>






<script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();
    $('.github').popup();

</script>
<script>
    $('#newblog-container').load('[[@{/footer/newblog}]]');
</script>

</body>
</html>